<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Form</title>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>파일 등록 페이지</h2>
    </div>
    <input type="button" value="메인 페이지로 이동" onclick="history.go(-1)"/><br>
    <h4 class="mb-3">파일 입력</h4>
    <form th:action method="post" enctype="multipart/form-data">
        <ul>
            <li>파일 명 <input type="text" name="fileName"></li>
            <li>파일 1개 <input type="file" name="attachedFile" ></li>
            <li>파일 여러 개<input type="file" multiple="multiple" name="attachedFiles" ></li>
        </ul>
        <input type="submit"/>
    </form>


</div> <!-- /container -->
</body>
</html>
